<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-language" content="pt-br" />
      <meta th:name="_csrf" th:content="${_csrf.token}"/>
	  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
      <title>XY Inc - Pontos de Interesse</title>
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <link rel="stylesheet" href="css/ng-table.min.css" />
   </head>
 
   <body>
      <ul class="nav nav-tabs">
         <li ng-class="{active: activetab == '/'}"><a href="#/home">Home</a></li>
         <li ng-class="{active: activetab == '/poi'}"><a href="#/poi">Poi</a></li>
         <li class="navbar-right"><a href="logout">Logout</a></li>
      </ul>
 
      <div ng-view=""></div>
 
      <script src="js/angular.min.js"></script>
      <script src="js/angular-route.min.js"></script>
      <script src="js/ng-table.min.js"></script>
 
      <script src="app/app.js"></script>
      <script src="app/controllers/controllers.js"></script>
   </body>
</html>
